div#olddiv .MenuNav0 A:hover {
	color: #ffffff;
	background-color: #990d5f;
}

div#olddiv #MenuTop A:hover {
	color: #990d5f;
}

div#olddiv #MenuNav1 H4 {
	color: #990d5f;
}

div#olddiv #MenuNav1 A:hover {
	color: #ffffff;
	background-color: #990d5f;
}

div#olddiv #MenuNav2 A:hover {
	color: #ffffff;
	background-color: #990d5f;
}

div#olddiv #MenuNav1Div A:hover {
	color: #ffffff;
	background-color: #990d5f;
}

